adapter driver bcm2835gpio

# Raspi1 peripheral_base address
 bcm2835gpio_peripheral_base 0x20000000
# Raspi2 and Raspi3 peripheral_base address
#bcm2835gpio_peripheral_base 0x3F000000

# Raspi1 BCM2835: (700Mhz)
 bcm2835gpio_speed_coeffs 113714 28
# Raspi2 BCM2836 (900Mhz):
# bcm2835gpio_speed_coeffs 146203 36
# Raspi3 BCM2837 (1200Mhz): 
#bcm2835gpio_speed_coeffs 194938 48

source [find interface/raspberrypi-native.cfg]

bcm2835gpio_swd_nums 25 24
#bcm2835gpio_trst_num 7
#bcm2835gpio_srst_num 18

transport select swd

set CHIPNAME at91samd21g18
source [find target/at91samdXX.cfg]
 
# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config  srst_nogate
 
adapter srst delay 100
adapter srst pulse_width 100

init 
reset
#reset
exit
